.App {
  background-color: #282c34;
}

.App-header {
  color: #fff;
  font-weight: bold;
  padding: 10px 0 10px 10px;
}

.App-inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 20px 20px 0 20px;
}

.App-repo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.App-repo:nth-last-child(1) {
  margin-bottom: 10px;
}
.first-part,
.second-part {
  display: flex;
  width: 50%;
}
.second-part {
  padding: 0 0 0 155px;
  justify-content: space-between;
}
.serial-number {
  margin-right: 5px;
}
.name {
  cursor: pointer;
}

.stars {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.stars svg {
  margin-right: 5px;
}

.forks-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.forks-header {
  margin-right: 5px;
}
